<!DOCTYPE html>
<html lang="ja">
  <meta charset="utf-8">
  <title>Read This First (Template)</title>
  <body>
    <div class="read-this-first">
      <div class="text">
        <img
          src="../../images/read-this-first.svg"
          width="178"
          alt="右手を差し出して微笑む茶色い肌の女性のイラスト"
        >
        <h2>最初にお読みください</h2>
        <p>
          不適切な ARIA を使うより、ARIA を使わないほうがましです (<span lang="en">No ARIA is better than Bad ARIA</span>)。ARIA を使う前に、<a href="../../practices/read-me-first/read-me-first-practice.html" aria-label="不適切な ARIA より ARIA を使わないほうがましである理由を読む">その理由を理解するためにこちらをお読みください (英語)</a>。
        </p>
      </div>
    </div>
  </body>
</html>
