    <aside class="ja-status-notice" aria-label="日本語版に関するお知らせ">
      <p>
        この文書は、<a href="https://github.com/w3c/aria-practices/tree/18c1a2fca626f7aeb33270e23ae9b18833e2164d">W3C の ARIA Authoring Practices Guide (APG)</a> を、<a href="https://waic.jp/">ウェブアクセシビリティ基盤委員会 (WAIC)</a> が翻訳して公開しているものです。
        この文書の正式版は、<a href="https://www.w3.org/WAI/ARIA/apg/">W3C のサイトにある英語版</a>です。
        正確な内容については、W3C が公開している原文 (英語) をご確認ください。
        この翻訳文書は作業進行中であり、現在は一部のページのみ日本語に翻訳されています。翻訳されていないページは英語のまま公開されています。あくまで参考情報であり、翻訳上の誤りが含まれていることがあります。
      </p>
      <p>
        この翻訳文書の利用条件については、<a href="https://waic.jp/license-for-translated-documents/">WAIC が提供する翻訳文書のライセンス</a>をご覧ください。
      </p>
      <p>現在日本語化されているページ:</p>
      <ul>
        <li><a href="{{BASE}}about/introduction/introduction.html">はじめに</a></li>
        <li><a href="{{BASE}}index/index.html">例のインデックス</a></li>
        <li>パターン: <a href="{{BASE}}patterns/alert/alert-pattern.html">アラート</a>、<a href="{{BASE}}patterns/button/button-pattern.html">ボタン</a>、<a href="{{BASE}}patterns/checkbox/checkbox-pattern.html">チェックボックス</a>、<a href="{{BASE}}patterns/disclosure/disclosure-pattern.html">ディスクロージャー</a>、<a href="{{BASE}}patterns/radio/radio-group-pattern.html">ラジオグループ</a></li>
        <li>実践: <a href="{{BASE}}practices/landmark-regions/landmark-regions-practice.html">ランドマーク領域</a></li>
      </ul>
    </aside>
